body {
	background-color: rgb(12, 0, 68);
	width: 100%;
	overflow: hidden;
	margin: 0;
}
#container {
	position: relative;
	width: 100%;
	height: 100%;
	-webkit-transform: translate3d(0,0,0);
	        transform: translate3d(0,0,0);
}


.cloud {
  background: #ebf5fc;
  border-radius: 200px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  height: 39px;
  margin-right: -102px;
  position: absolute;
  right: 0%;
  width: 102px;
}
.cloud.variant-1 {
  top: 23%;
  -webkit-transform: scale(0.2);
      -ms-transform: scale(0.2);
          transform: scale(0.2);
}
.animate-clouds .cloud.variant-2 {
  top: 30%;
  -webkit-transform: scale(0.4);
      -ms-transform: scale(0.4);
          transform: scale(0.4);
  -webkit-animation-duration: 17s;
          animation-duration: 17s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
.animate-clouds .cloud.variant-3 {
  top: 17%;
  -webkit-transform: scale(0.6);
      -ms-transform: scale(0.6);
          transform: scale(0.6);
  -webkit-animation-duration: 18s;
          animation-duration: 18s;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}
.animate-clouds .cloud.variant-4 {
  top: 12%;
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-animation-duration: 19s;
          animation-duration: 19s;
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}
.animate-clouds .cloud.variant-5 {
  top: 35%;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
  -webkit-animation-delay: 8s;
          animation-delay: 8s;
}

.cloud:before, .cloud:after {
  background: #ebf5fc;
  border-radius: 100px;
  content: '';
  height: 45px;
  left: 10px;
  position: absolute;
  top: -10px;
  width: 60px;
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg);
}
.cloud:after {
  height: 60px;
  left: auto;
  right: 12px;
  top: -24px;
  width: 60px;
}

.moon {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 10%;
  left: 90%;
  margin-left: -40px;
  border-radius: 50%;
  background: #EAEAE3;
  z-index: -1;
  box-shadow: 0 0 14px 5px rgba(255, 255, 255, 0.4)

}
.snow {
  margin-top: -20px;
  width: 4px;
  height: 4px;
  position: absolute;
  border-radius: 50%;
  background: #DFE9ED;

}
.snow.variant-1 {
	width: 2px;
  height: 2px;
}

.snow.variant-2 {
	width: 6px;
  height: 6px;
}
.snow.variant-3 {
	width: 3px;
  height: 3px;
}
.snow.variant-4 {
	-webkit-transform: scale(2.7);
	    -ms-transform: scale(2.7);
	        transform: scale(2.7);
}



.controls {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%
}

.text {
	display: inline-block;
	font-family: monospace;
	font-size: 12px;
	border: none;
	padding: 8px;
	/* width: 33.33%; */
	box-sizing: border-box;
	border-radius: 4px;
	margin: 0 10px;
	background: #fff;
	color: #000;
}

.text.invert {
	background: #000;
	color: #fff;
}

.controls button:hover {
	background: #333;
	cursor: pointer;
}


.animate-clouds .cloud {
	  -webkit-animation: clouds-in-out 16s 0s infinite linear;
	          animation: clouds-in-out 16s 0s infinite linear;
}
.animate-snow .snow {
    animation: snowside 4s ease-in-out forwards infinite, snowfall 5s ease-in-out forwards 6;
}
body.animate-day-passing {
	-webkit-animation: change-day 10s  ease-in-out forwards;
	        animation: change-day 10s  ease-in-out forwards;
}
.animate-day-passing .moon {
	-webkit-animation: moon-to-sun 10s  ease-in-out forwards;
	        animation: moon-to-sun 10s  ease-in-out forwards;
}
.animate-right-arm-falling .snowman__right-hand {
	-webkit-animation: falling-right 1.5s cubic-bezier(0.7, 0.7, 0.1, 0.4) forwards;
	        animation: falling-right 1.5s cubic-bezier(0.7, 0.7, 0.1, 0.4) forwards;
      animation-delay: 0s;

}

.animate-left-arm-falling .snowman__left-hand {
	-webkit-animation: falling-left 1.5s cubic-bezier(0.5, 0.3, 0.8, 1) forwards;
	        animation: falling-left 1.5s cubic-bezier(0.5, 0.3, 0.8, 1) forwards;
	        animation-delay: 0s;
}
.animate-legs-melt .snowman__legs {
		-webkit-animation: legs-melt 10s  ease-in-out forwards;
	        animation: legs-melt 10s  ease-in-out forwards;
}

.animate-body-melt .snowman__body {
		-webkit-animation: body-melt 10s  cubic-bezier(0.5, 0.3, 0.8, 1)  forwards;
	        animation: body-melt 10s cubic-bezier(0.5, 0.3, 0.8, 1) forwards;
}


@-webkit-keyframes legs-melt {
	0% {
		transform: skew(0)  rotate(0);
		width: 200px;
		height: 200px;
	}
	100% {
    transform: skew(70deg) rotate(-30deg);
    width: 300px;
    height: 50px;
    -webkit-filter: blur(7px);
	}
}
@keyframes legs-melt {
	0% {
		transform: skew(0)  rotate(0);
		width: 200px;
		height: 200px;
	}
	100% {
    transform: skew(70deg) rotate(-10deg);
    width: 300px;
    height: 50px;
    -webkit-filter: blur(7px);
	}
}


@-webkit-keyframes body-melt {
	0% {
		transform: skew(0)  rotate(0);
		width: 160px;
		height: 160px;
	}
	100% {
    transform: skew(30deg) rotate(20deg);
    width: 400px;
    height: 30px;
    -webkit-filter: blur(3px);
	}
}
@keyframes body-melt {
		0% {
		transform: skew(0)  rotate(0);
		width: 160px;
		height: 160px;
	}
	100% {
    transform: skew(30deg) rotate(20deg);
    width: 400px;
    height: 30px;
    -webkit-filter: blur(3px);
	}
}
@-webkit-keyframes clouds-in-out {
  0% {
    right: 0%;
  }
  100% {
    right: 130%;
  }
}




@keyframes clouds-in-out {
  0% {
    right: 0%;
  }
  100% {
    right: 130%;
  }
}
@-webkit-keyframes mountains-in-out {
  0% {
    right: 0%;
  }
  100% {
    right: 230%;
  }
}
@keyframes mountains-in-out {
  0% {
    right: 0%;
  }
  100% {
    right: 230%;
  }
}
@-webkit-keyframes moon-in-out {
  0% {
    right: 0%;
    top: 10%;
  }
  100% {
    right: 200%;
    top: 0%;
  }
}
@keyframes moon-in-out {
  0% {
    right: 0%;
    top: 10%;
  }
  100% {
    right: 200%;
    top: 0%;
  }
}
@-webkit-keyframes snow-in-out {
  0% {
    top: 0%;
  }
  100% {
    top: 105%;
  }
}
@keyframes snow-in-out {
  0% {
    top: 0%;
  }
  100% {
    top: 105%;
  }
}


@-webkit-keyframes snowside {
 25% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
      }
  75% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}


@keyframes snowside {
 25% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
      }
  75% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
@-webkit-keyframes snowfall {
  0% {
    top: 0;
    opacity: 0.8;
  }
  100% {
    top: 110%;
    opacity: 0.3;
  }
}
@keyframes snowfall {
  0% {
    top: 0;
    opacity: 0.8;
  }
  100% {
    top: 110%;
    opacity: 0.3;
  }
}


@-webkit-keyframes falling-right {
  0%   { 	
		-webkit-transform: rotate(0) translate(0,0);
		        transform: rotate(0) translate(0,0);
  }
  100% { 	
  	-webkit-transform: rotate(190deg) translate(-100px, -220px) ;
  	        transform: rotate(190deg) translate(-100px, -220px) ;
  }
}

@keyframes falling-right {
  0%   { 	
		-webkit-transform: rotate(0) translate(0,0);
		        transform: rotate(0) translate(0,0);
  }
  100% { 	
  	-webkit-transform: rotate(190deg)  translate(-100px, -220px) ;
  	        transform: rotate(190deg) translate(-100px, -220px) ;
  }
}

@-webkit-keyframes falling-left {
  0%   { 	
		-webkit-transform: rotate(0) translate(0,0);
		        transform: rotate(0) translate(0,0);
  }
  100% { 	
  	-webkit-transform: rotate(-190deg) translate(150px, 220px) ;
  	        transform: rotate(-190deg) translate(150px, 220px) ;
  }
}

@keyframes falling-left {
  0%   { 	
		-webkit-transform: rotate(0) translate(0,0);
		        transform: rotate(0) translate(0,0);
  }
  100% { 	
  	-webkit-transform: rotate(-190deg)  translate(-100px, -220px) ;
  	        transform: rotate(-190deg) translate(-100px, -220px) ;
  }
}

@-webkit-keyframes change-day {
	0% {
		background: rgb(12, 0, 68);
	}
	25% {
		background: rgb(0,0,0);
	}
	45% {
		background: rgb(12, 0, 68);
	}
	100% {
		background: rgb(146, 220, 255);
	}
}
@keyframes change-day {
	0% {
		background: rgb(12, 0, 68);
	}
	25% {
		background: rgb(0,0,0);
	}
	45% {
		background: rgb(12, 0, 68);
	}
	100% {
		background: rgb(146, 220, 255);
	}
}
@-webkit-keyframes moon-to-sun {
	0% {
		background: #EAEAE3;
		-webkit-transform: scale(1);
		        transform: scale(1);
		top: 10%;
		left: 90%;
	}
	50% {
		background: #FFFFD0;
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
	100% {
		background: #FFC200;
		-webkit-transform: scale(1.4);
		        transform: scale(1.4);
	}
}
@keyframes moon-to-sun {
	0% {
		background: #EAEAE3;
		-webkit-transform: scale(1);
		        transform: scale(1);
		top: 10%;
		left: 90%;
	}
	50% {
		background: #FFFFD0;
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
	100% {
		background: #FFC200;
		-webkit-transform: scale(1.4);
		        transform: scale(1.4);
	}
}
@-webkit-keyframes moonrise-half {
	0% {
		top: 10%;
		left: 90%;
	}
	50% {
		top: 0%;
		left: 50%;
	}
	100% {
		top: 10%;
		left: -10%;
	}
}
@keyframes moonrise-half {
	0% {
		top: 10%;
		left: 90%;
	}
	50% {
		top: 0%;
		left: 50%;
	}
	100% {
		top: 10%;
		left: -10%;
	}
}
@-webkit-keyframes moonrise-full {
	0% {
		top: 10%;
		left: 110%;
	}
	50% {
		top: 0%;
		left: 50%;
	}
	100% {
		top: 10%;
		left: -10%;
	}
}
@keyframes moonrise-full {
	0% {
		top: 10%;
		left: 110%;
	}
	50% {
		top: 0%;
		left: 50%;
	}
	100% {
		top: 10%;
		left: -10%;
	}
}
@-webkit-keyframes spaceboots {
	0% { -webkit-transform: translate(2px, 1px) rotate(0deg); transform: translate(2px, 1px) rotate(0deg); }
	10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); transform: translate(-1px, -2px) rotate(-1deg); }
	20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); transform: translate(-3px, 0px) rotate(1deg); }
	30% { -webkit-transform: translate(0px, 2px) rotate(0deg); transform: translate(0px, 2px) rotate(0deg); }
	40% { -webkit-transform: translate(1px, -1px) rotate(1deg); transform: translate(1px, -1px) rotate(1deg); }
	50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); transform: translate(-1px, 2px) rotate(-1deg); }
	60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); transform: translate(-3px, 1px) rotate(0deg); }
	70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); transform: translate(2px, 1px) rotate(-1deg); }
	80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); transform: translate(-1px, -1px) rotate(1deg); }
	90% { -webkit-transform: translate(2px, 2px) rotate(0deg); transform: translate(2px, 2px) rotate(0deg); }
	100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); transform: translate(1px, -2px) rotate(-1deg); }
}
@keyframes spaceboots {
	0% { -webkit-transform: translate(2px, 1px) rotate(0deg); transform: translate(2px, 1px) rotate(0deg); }
	10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); transform: translate(-1px, -2px) rotate(-1deg); }
	20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); transform: translate(-3px, 0px) rotate(1deg); }
	30% { -webkit-transform: translate(0px, 2px) rotate(0deg); transform: translate(0px, 2px) rotate(0deg); }
	40% { -webkit-transform: translate(1px, -1px) rotate(1deg); transform: translate(1px, -1px) rotate(1deg); }
	50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); transform: translate(-1px, 2px) rotate(-1deg); }
	60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); transform: translate(-3px, 1px) rotate(0deg); }
	70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); transform: translate(2px, 1px) rotate(-1deg); }
	80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); transform: translate(-1px, -1px) rotate(1deg); }
	90% { -webkit-transform: translate(2px, 2px) rotate(0deg); transform: translate(2px, 2px) rotate(0deg); }
	100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); transform: translate(1px, -2px) rotate(-1deg); }
}
.text-container {
	position: absolute;
	top: 20%;
	left: 5%;
	display: block;
}

.him {
	display: none;
}
.show-him .him {
	display: block;
	margin: 0 auto;
	-webkit-animation-name: spaceboots;
	        animation-name: spaceboots;
	-webkit-animation-duration: 0.6s;
	        animation-duration: 0.6s;
	-webkit-transform-origin:50% 50%;
	    -ms-transform-origin:50% 50%;
	        transform-origin:50% 50%;
	-webkit-animation-iteration-count: infinite;
	        animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	        animation-timing-function: linear;}